html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar span,
.foot {
    font-family: 'Do Hyeon', sans-serif;
}

.btns {
    margin: 6px 6px;
}

.jumbotron {
    margin-top: 10em;
}

.container {
    height: 25em;
}

hr {
    border-color: white !important;
}

.fab {
    padding: 10px;
}
